NODE_ENV=development
INTERNAL_API_KEY=change-me
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=sme.events

# API Gateway
API_GATEWAY_PORT=3000
IAM_SERVICE_URL=http://localhost:3001
TENANT_SERVICE_URL=http://localhost:3002
CONFIG_SERVICE_URL=http://localhost:3003
AUDIT_SERVICE_URL=http://localhost:3004
