-- CreateEnum
CREATE TYPE "TenantStatus" AS ENUM ('TRIAL', 'ACTIVE', 'SUSPENDED', 'TERMINATED');

-- CreateEnum
CREATE TYPE "SchoolStatus" AS ENUM ('PENDING', 'ACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "StudentStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'TRANSFERRED', 'GRADUATED', 'DROPPED_OUT');

-- CreateEnum
CREATE TYPE "Gender" AS ENUM ('MALE', 'FEMALE', 'OTHER', 'PREFER_NOT_TO_SAY');

-- CreateEnum
CREATE TYPE "BloodGroup" AS ENUM ('A_POS', 'A_NEG', 'B_POS', 'B_NEG', 'AB_POS', 'AB_NEG', 'O_POS', 'O_NEG', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "StudentCategory" AS ENUM ('GENERAL', 'OBC', 'SC', 'ST', 'EWS', 'PWD', 'CWSN');

-- CreateEnum
CREATE TYPE "Religion" AS ENUM ('HINDUISM', 'ISLAM', 'CHRISTIANITY', 'SIKHISM', 'BUDDHISM', 'JAINISM', 'OTHER', 'NOT_STATED');

-- CreateEnum
CREATE TYPE "Relation" AS ENUM ('FATHER', 'MOTHER', 'GUARDIAN', 'GRANDPARENT', 'SIBLING', 'OTHER');

-- CreateEnum
CREATE TYPE "SubjectType" AS ENUM ('CORE', 'ELECTIVE', 'OPTIONAL', 'LANGUAGE', 'CO_CURRICULAR');

-- CreateEnum
CREATE TYPE "AttendanceStatus" AS ENUM ('PRESENT', 'ABSENT', 'LATE', 'EXCUSED');

-- CreateEnum
CREATE TYPE "AttendanceSessionStatus" AS ENUM ('OPEN', 'CLOSED');

-- CreateEnum
CREATE TYPE "ExamStatus" AS ENUM ('DRAFT', 'VERIFIED', 'PUBLISHED', 'ONGOING', 'COMPLETED', 'CANCELLED');

-- CreateTable
CREATE TABLE "Tenant" (
    "id" TEXT NOT NULL,
    "code" VARCHAR(20) NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "legalName" VARCHAR(200),
    "status" "TenantStatus" NOT NULL DEFAULT 'TRIAL',
    "schoolStatus" "SchoolStatus" NOT NULL DEFAULT 'PENDING',
    "domain" VARCHAR(200),
    "trialEndDate" TIMESTAMP(3),
    "udiseCode" VARCHAR(11),
    "affiliationNumber" VARCHAR(50),
    "board" VARCHAR(100),
    "address" VARCHAR(500),
    "city" VARCHAR(100),
    "state" VARCHAR(100),
    "pincode" VARCHAR(10),
    "district" VARCHAR(100),
    "contactPhone" VARCHAR(20),
    "contactEmail" VARCHAR(255),
    "website" VARCHAR(255),
    "schoolAdminName" VARCHAR(200),
    "establishmentYear" INTEGER,
    "schoolType" VARCHAR(50),
    "managementType" VARCHAR(100),
    "lowestClass" VARCHAR(10),
    "highestClass" VARCHAR(10),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tenant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TenantSetting" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "key" VARCHAR(200) NOT NULL,
    "value" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TenantSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TenantAdmin" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "userId" VARCHAR(50),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TenantAdmin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AcademicYear" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AcademicYear_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Class" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "code" VARCHAR(20) NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Class_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Section" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "classId" TEXT NOT NULL,
    "maxCapacity" INTEGER NOT NULL DEFAULT 40,
    "roomLabel" VARCHAR(50),
    "classTeacherId" TEXT,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Section_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subject" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "code" VARCHAR(20) NOT NULL,
    "type" "SubjectType" NOT NULL DEFAULT 'CORE',
    "hasPractical" BOOLEAN NOT NULL DEFAULT false,
    "theoryMaxMarks" DOUBLE PRECISION DEFAULT 100,
    "practicalMaxMarks" DOUBLE PRECISION DEFAULT 0,
    "periodsPerWeek" INTEGER NOT NULL DEFAULT 5,
    "medium" VARCHAR(50),
    "syllabusRef" VARCHAR(200),
    "countForRank" BOOLEAN NOT NULL DEFAULT true,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Teacher" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "userId" VARCHAR(50),
    "employeeCode" VARCHAR(50) NOT NULL,
    "designation" VARCHAR(100) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "firstName" VARCHAR(100),
    "lastName" VARCHAR(100),
    "dateOfBirth" DATE,
    "gender" "Gender" NOT NULL DEFAULT 'PREFER_NOT_TO_SAY',
    "motherTongue" VARCHAR(50),
    "knownLanguages" VARCHAR(200),
    "nationality" VARCHAR(50) NOT NULL DEFAULT 'Indian',
    "contactPhone" VARCHAR(20),
    "email" VARCHAR(200),
    "emergencyContact" VARCHAR(500),
    "dateOfJoining" DATE,
    "dateOfLeaving" DATE,
    "employmentType" VARCHAR(50),
    "subjectSpecialization" VARCHAR(200),
    "qualifications" VARCHAR(1000),
    "tetCertificateNo" VARCHAR(50),
    "category" "StudentCategory" NOT NULL DEFAULT 'GENERAL',
    "religion" "Religion" NOT NULL DEFAULT 'NOT_STATED',
    "aadhaarMasked" VARCHAR(10),
    "photoUrl" VARCHAR(500),
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Teacher_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Student" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "admissionNumber" VARCHAR(50) NOT NULL,
    "dateOfJoining" DATE,
    "firstName" VARCHAR(100) NOT NULL,
    "middleName" VARCHAR(100),
    "lastName" VARCHAR(100) NOT NULL,
    "preferredName" VARCHAR(100),
    "dateOfBirth" DATE,
    "gender" "Gender" NOT NULL DEFAULT 'PREFER_NOT_TO_SAY',
    "preferredGender" VARCHAR(50),
    "bloodGroup" "BloodGroup" NOT NULL DEFAULT 'UNKNOWN',
    "motherTongue" VARCHAR(50),
    "nationality" VARCHAR(50) NOT NULL DEFAULT 'Indian',
    "aadhaarMasked" VARCHAR(10),
    "apaarId" VARCHAR(30),
    "category" "StudentCategory" NOT NULL DEFAULT 'GENERAL',
    "religion" "Religion" NOT NULL DEFAULT 'NOT_STATED',
    "caste" VARCHAR(100),
    "isRteAdmission" BOOLEAN NOT NULL DEFAULT false,
    "isCwsn" BOOLEAN NOT NULL DEFAULT false,
    "disabilityType" VARCHAR(200),
    "isBpl" BOOLEAN NOT NULL DEFAULT false,
    "isMinority" BOOLEAN NOT NULL DEFAULT false,
    "allergies" VARCHAR(500),
    "medicalConditions" VARCHAR(500),
    "emergencyContact" VARCHAR(500),
    "previousSchool" VARCHAR(200),
    "tcNumber" VARCHAR(50),
    "addressLine" VARCHAR(500),
    "city" VARCHAR(100),
    "state" VARCHAR(100),
    "pincode" VARCHAR(10),
    "photoUrl" VARCHAR(500),
    "status" "StudentStatus" NOT NULL DEFAULT 'ACTIVE',
    "dateOfLeaving" DATE,
    "leavingReason" VARCHAR(200),
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Student_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClassTeacherAssignment" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "classId" TEXT NOT NULL,
    "sectionId" TEXT NOT NULL,
    "teacherId" TEXT NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ClassTeacherAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentEnrollment" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "studentId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "sectionId" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "rollNumber" VARCHAR(20) NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StudentEnrollment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Parent" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "userId" VARCHAR(50) NOT NULL,
    "firstName" VARCHAR(100) NOT NULL,
    "lastName" VARCHAR(100) NOT NULL,
    "relation" "Relation" NOT NULL DEFAULT 'GUARDIAN',
    "gender" "Gender" NOT NULL DEFAULT 'PREFER_NOT_TO_SAY',
    "phone" VARCHAR(20),
    "alternatePhone" VARCHAR(20),
    "email" VARCHAR(255),
    "motherTongue" VARCHAR(50),
    "knownLanguages" VARCHAR(200),
    "profession" VARCHAR(100),
    "annualIncomeSlab" VARCHAR(50),
    "education" VARCHAR(100),
    "aadhaarMasked" VARCHAR(10),
    "addressLine" VARCHAR(500),
    "city" VARCHAR(100),
    "state" VARCHAR(100),
    "pincode" VARCHAR(10),
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Parent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ParentStudentMapping" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "parentId" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ParentStudentMapping_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Period" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "startTime" TIME(0) NOT NULL,
    "endTime" TIME(0) NOT NULL,
    "classId" TEXT NOT NULL,
    "sectionId" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Period_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AttendanceSession" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "date" DATE NOT NULL,
    "classId" TEXT NOT NULL,
    "sectionId" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "status" "AttendanceSessionStatus" NOT NULL DEFAULT 'OPEN',
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AttendanceSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AttendanceRecord" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "sessionId" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "status" "AttendanceStatus" NOT NULL,
    "remarks" VARCHAR(500),
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AttendanceRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Exam" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "status" "ExamStatus" NOT NULL DEFAULT 'DRAFT',
    "startDate" DATE NOT NULL,
    "endDate" DATE NOT NULL,
    "totalMarks" DOUBLE PRECISION,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Exam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExamSubject" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "examId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "maxMarks" DOUBLE PRECISION NOT NULL,
    "weightage" DOUBLE PRECISION,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExamSubject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentMark" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "examId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "marksObtained" DOUBLE PRECISION NOT NULL,
    "remarks" VARCHAR(500),
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StudentMark_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GradeScale" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "minPercentage" DOUBLE PRECISION NOT NULL,
    "maxPercentage" DOUBLE PRECISION NOT NULL,
    "grade" VARCHAR(10) NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GradeScale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentExamResult" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "examId" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "totalMarks" DOUBLE PRECISION NOT NULL,
    "percentage" DOUBLE PRECISION NOT NULL,
    "grade" VARCHAR(10) NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StudentExamResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentExamAggregate" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "examId" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "totalMarks" DOUBLE PRECISION NOT NULL,
    "percentage" DOUBLE PRECISION NOT NULL,
    "grade" VARCHAR(10) NOT NULL,
    "classRank" INTEGER,
    "sectionRank" INTEGER,
    "gpa" DOUBLE PRECISION,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StudentExamAggregate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClassExamAggregate" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "examId" TEXT NOT NULL,
    "classId" TEXT NOT NULL,
    "averageMarks" DOUBLE PRECISION NOT NULL,
    "averagePercentage" DOUBLE PRECISION NOT NULL,
    "highestMarks" DOUBLE PRECISION NOT NULL,
    "lowestMarks" DOUBLE PRECISION NOT NULL,
    "passPercentage" DOUBLE PRECISION NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ClassExamAggregate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubjectExamAnalytics" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "examId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "averageMarks" DOUBLE PRECISION NOT NULL,
    "highestMarks" DOUBLE PRECISION NOT NULL,
    "lowestMarks" DOUBLE PRECISION NOT NULL,
    "passPercentage" DOUBLE PRECISION NOT NULL,
    "createdBy" VARCHAR(50),
    "updatedBy" VARCHAR(50),
    "softDelete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SubjectExamAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OutboxEvent" (
    "id" TEXT NOT NULL,
    "tenantId" VARCHAR(50) NOT NULL,
    "eventType" VARCHAR(100) NOT NULL,
    "routingKey" VARCHAR(200) NOT NULL,
    "payload" JSONB NOT NULL,
    "published" BOOLEAN NOT NULL DEFAULT false,
    "publishedAt" TIMESTAMP(3),
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OutboxEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcessedEvent" (
    "id" TEXT NOT NULL,
    "eventId" TEXT NOT NULL,
    "eventType" VARCHAR(100) NOT NULL,
    "processedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcessedEvent_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_code_key" ON "Tenant"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_udiseCode_key" ON "Tenant"("udiseCode");

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_contactEmail_key" ON "Tenant"("contactEmail");

-- CreateIndex
CREATE INDEX "TenantSetting_tenantId_idx" ON "TenantSetting"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "TenantSetting_tenantId_key_key" ON "TenantSetting"("tenantId", "key");

-- CreateIndex
CREATE INDEX "TenantAdmin_tenantId_idx" ON "TenantAdmin"("tenantId");

-- CreateIndex
CREATE INDEX "TenantAdmin_userId_idx" ON "TenantAdmin"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "TenantAdmin_tenantId_userId_key" ON "TenantAdmin"("tenantId", "userId");

-- CreateIndex
CREATE INDEX "AcademicYear_tenantId_idx" ON "AcademicYear"("tenantId");

-- CreateIndex
CREATE INDEX "AcademicYear_tenantId_isActive_idx" ON "AcademicYear"("tenantId", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "AcademicYear_tenantId_name_key" ON "AcademicYear"("tenantId", "name");

-- CreateIndex
CREATE INDEX "Class_tenantId_idx" ON "Class"("tenantId");

-- CreateIndex
CREATE INDEX "Class_academicYearId_idx" ON "Class"("academicYearId");

-- CreateIndex
CREATE INDEX "Class_tenantId_code_idx" ON "Class"("tenantId", "code");

-- CreateIndex
CREATE UNIQUE INDEX "Class_tenantId_academicYearId_code_key" ON "Class"("tenantId", "academicYearId", "code");

-- CreateIndex
CREATE INDEX "Section_tenantId_idx" ON "Section"("tenantId");

-- CreateIndex
CREATE INDEX "Section_classId_idx" ON "Section"("classId");

-- CreateIndex
CREATE INDEX "Section_classTeacherId_idx" ON "Section"("classTeacherId");

-- CreateIndex
CREATE UNIQUE INDEX "Section_tenantId_classId_name_key" ON "Section"("tenantId", "classId", "name");

-- CreateIndex
CREATE INDEX "Subject_tenantId_idx" ON "Subject"("tenantId");

-- CreateIndex
CREATE INDEX "Subject_tenantId_code_idx" ON "Subject"("tenantId", "code");

-- CreateIndex
CREATE INDEX "Subject_tenantId_type_idx" ON "Subject"("tenantId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "Subject_tenantId_code_key" ON "Subject"("tenantId", "code");

-- CreateIndex
CREATE INDEX "Teacher_tenantId_idx" ON "Teacher"("tenantId");

-- CreateIndex
CREATE INDEX "Teacher_tenantId_employmentType_idx" ON "Teacher"("tenantId", "employmentType");

-- CreateIndex
CREATE UNIQUE INDEX "Teacher_tenantId_userId_key" ON "Teacher"("tenantId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "Teacher_tenantId_employeeCode_key" ON "Teacher"("tenantId", "employeeCode");

-- CreateIndex
CREATE UNIQUE INDEX "Teacher_tenantId_email_key" ON "Teacher"("tenantId", "email");

-- CreateIndex
CREATE UNIQUE INDEX "Student_apaarId_key" ON "Student"("apaarId");

-- CreateIndex
CREATE INDEX "Student_tenantId_idx" ON "Student"("tenantId");

-- CreateIndex
CREATE INDEX "Student_tenantId_lastName_firstName_idx" ON "Student"("tenantId", "lastName", "firstName");

-- CreateIndex
CREATE INDEX "Student_tenantId_status_idx" ON "Student"("tenantId", "status");

-- CreateIndex
CREATE INDEX "Student_tenantId_category_idx" ON "Student"("tenantId", "category");

-- CreateIndex
CREATE INDEX "Student_tenantId_isRteAdmission_idx" ON "Student"("tenantId", "isRteAdmission");

-- CreateIndex
CREATE UNIQUE INDEX "Student_tenantId_admissionNumber_key" ON "Student"("tenantId", "admissionNumber");

-- CreateIndex
CREATE INDEX "ClassTeacherAssignment_tenantId_idx" ON "ClassTeacherAssignment"("tenantId");

-- CreateIndex
CREATE INDEX "ClassTeacherAssignment_teacherId_idx" ON "ClassTeacherAssignment"("teacherId");

-- CreateIndex
CREATE UNIQUE INDEX "ClassTeacherAssignment_tenantId_classId_sectionId_key" ON "ClassTeacherAssignment"("tenantId", "classId", "sectionId");

-- CreateIndex
CREATE INDEX "StudentEnrollment_tenantId_idx" ON "StudentEnrollment"("tenantId");

-- CreateIndex
CREATE INDEX "StudentEnrollment_studentId_idx" ON "StudentEnrollment"("studentId");

-- CreateIndex
CREATE INDEX "StudentEnrollment_classId_idx" ON "StudentEnrollment"("classId");

-- CreateIndex
CREATE INDEX "StudentEnrollment_sectionId_idx" ON "StudentEnrollment"("sectionId");

-- CreateIndex
CREATE UNIQUE INDEX "StudentEnrollment_tenantId_studentId_academicYearId_key" ON "StudentEnrollment"("tenantId", "studentId", "academicYearId");

-- CreateIndex
CREATE UNIQUE INDEX "StudentEnrollment_tenantId_academicYearId_classId_sectionId_key" ON "StudentEnrollment"("tenantId", "academicYearId", "classId", "sectionId", "rollNumber");

-- CreateIndex
CREATE INDEX "Parent_tenantId_idx" ON "Parent"("tenantId");

-- CreateIndex
CREATE INDEX "Parent_userId_idx" ON "Parent"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Parent_tenantId_userId_key" ON "Parent"("tenantId", "userId");

-- CreateIndex
CREATE INDEX "ParentStudentMapping_tenantId_idx" ON "ParentStudentMapping"("tenantId");

-- CreateIndex
CREATE INDEX "ParentStudentMapping_parentId_idx" ON "ParentStudentMapping"("parentId");

-- CreateIndex
CREATE INDEX "ParentStudentMapping_studentId_idx" ON "ParentStudentMapping"("studentId");

-- CreateIndex
CREATE UNIQUE INDEX "ParentStudentMapping_tenantId_parentId_studentId_key" ON "ParentStudentMapping"("tenantId", "parentId", "studentId");

-- CreateIndex
CREATE INDEX "Period_tenantId_idx" ON "Period"("tenantId");

-- CreateIndex
CREATE INDEX "Period_tenantId_classId_sectionId_idx" ON "Period"("tenantId", "classId", "sectionId");

-- CreateIndex
CREATE UNIQUE INDEX "Period_tenantId_academicYearId_classId_sectionId_name_key" ON "Period"("tenantId", "academicYearId", "classId", "sectionId", "name");

-- CreateIndex
CREATE INDEX "AttendanceSession_tenantId_idx" ON "AttendanceSession"("tenantId");

-- CreateIndex
CREATE INDEX "AttendanceSession_date_idx" ON "AttendanceSession"("date");

-- CreateIndex
CREATE INDEX "AttendanceSession_tenantId_classId_date_idx" ON "AttendanceSession"("tenantId", "classId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "AttendanceSession_tenantId_date_classId_sectionId_key" ON "AttendanceSession"("tenantId", "date", "classId", "sectionId");

-- CreateIndex
CREATE INDEX "AttendanceRecord_tenantId_idx" ON "AttendanceRecord"("tenantId");

-- CreateIndex
CREATE INDEX "AttendanceRecord_sessionId_idx" ON "AttendanceRecord"("sessionId");

-- CreateIndex
CREATE INDEX "AttendanceRecord_tenantId_studentId_idx" ON "AttendanceRecord"("tenantId", "studentId");

-- CreateIndex
CREATE UNIQUE INDEX "AttendanceRecord_tenantId_sessionId_studentId_key" ON "AttendanceRecord"("tenantId", "sessionId", "studentId");

-- CreateIndex
CREATE INDEX "Exam_tenantId_idx" ON "Exam"("tenantId");

-- CreateIndex
CREATE INDEX "Exam_academicYearId_idx" ON "Exam"("academicYearId");

-- CreateIndex
CREATE INDEX "Exam_classId_idx" ON "Exam"("classId");

-- CreateIndex
CREATE INDEX "Exam_tenantId_status_idx" ON "Exam"("tenantId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "Exam_tenantId_name_academicYearId_classId_key" ON "Exam"("tenantId", "name", "academicYearId", "classId");

-- CreateIndex
CREATE INDEX "ExamSubject_tenantId_idx" ON "ExamSubject"("tenantId");

-- CreateIndex
CREATE INDEX "ExamSubject_examId_idx" ON "ExamSubject"("examId");

-- CreateIndex
CREATE INDEX "ExamSubject_subjectId_idx" ON "ExamSubject"("subjectId");

-- CreateIndex
CREATE UNIQUE INDEX "ExamSubject_tenantId_examId_subjectId_key" ON "ExamSubject"("tenantId", "examId", "subjectId");

-- CreateIndex
CREATE INDEX "StudentMark_tenantId_idx" ON "StudentMark"("tenantId");

-- CreateIndex
CREATE INDEX "StudentMark_examId_idx" ON "StudentMark"("examId");

-- CreateIndex
CREATE INDEX "StudentMark_studentId_idx" ON "StudentMark"("studentId");

-- CreateIndex
CREATE INDEX "StudentMark_tenantId_studentId_examId_idx" ON "StudentMark"("tenantId", "studentId", "examId");

-- CreateIndex
CREATE INDEX "StudentMark_tenantId_subjectId_examId_idx" ON "StudentMark"("tenantId", "subjectId", "examId");

-- CreateIndex
CREATE UNIQUE INDEX "StudentMark_tenantId_examId_subjectId_studentId_key" ON "StudentMark"("tenantId", "examId", "subjectId", "studentId");

-- CreateIndex
CREATE INDEX "GradeScale_tenantId_idx" ON "GradeScale"("tenantId");

-- CreateIndex
CREATE INDEX "GradeScale_tenantId_minPercentage_maxPercentage_idx" ON "GradeScale"("tenantId", "minPercentage", "maxPercentage");

-- CreateIndex
CREATE UNIQUE INDEX "GradeScale_tenantId_name_minPercentage_key" ON "GradeScale"("tenantId", "name", "minPercentage");

-- CreateIndex
CREATE INDEX "StudentExamResult_tenantId_idx" ON "StudentExamResult"("tenantId");

-- CreateIndex
CREATE INDEX "StudentExamResult_examId_idx" ON "StudentExamResult"("examId");

-- CreateIndex
CREATE INDEX "StudentExamResult_studentId_idx" ON "StudentExamResult"("studentId");

-- CreateIndex
CREATE UNIQUE INDEX "StudentExamResult_tenantId_examId_studentId_key" ON "StudentExamResult"("tenantId", "examId", "studentId");

-- CreateIndex
CREATE INDEX "StudentExamAggregate_tenantId_idx" ON "StudentExamAggregate"("tenantId");

-- CreateIndex
CREATE INDEX "StudentExamAggregate_examId_idx" ON "StudentExamAggregate"("examId");

-- CreateIndex
CREATE INDEX "StudentExamAggregate_studentId_idx" ON "StudentExamAggregate"("studentId");

-- CreateIndex
CREATE UNIQUE INDEX "StudentExamAggregate_tenantId_examId_studentId_key" ON "StudentExamAggregate"("tenantId", "examId", "studentId");

-- CreateIndex
CREATE INDEX "ClassExamAggregate_tenantId_idx" ON "ClassExamAggregate"("tenantId");

-- CreateIndex
CREATE INDEX "ClassExamAggregate_examId_idx" ON "ClassExamAggregate"("examId");

-- CreateIndex
CREATE INDEX "ClassExamAggregate_classId_idx" ON "ClassExamAggregate"("classId");

-- CreateIndex
CREATE UNIQUE INDEX "ClassExamAggregate_tenantId_examId_classId_key" ON "ClassExamAggregate"("tenantId", "examId", "classId");

-- CreateIndex
CREATE INDEX "SubjectExamAnalytics_tenantId_idx" ON "SubjectExamAnalytics"("tenantId");

-- CreateIndex
CREATE INDEX "SubjectExamAnalytics_examId_idx" ON "SubjectExamAnalytics"("examId");

-- CreateIndex
CREATE INDEX "SubjectExamAnalytics_subjectId_idx" ON "SubjectExamAnalytics"("subjectId");

-- CreateIndex
CREATE UNIQUE INDEX "SubjectExamAnalytics_tenantId_examId_subjectId_key" ON "SubjectExamAnalytics"("tenantId", "examId", "subjectId");

-- CreateIndex
CREATE INDEX "OutboxEvent_published_createdAt_idx" ON "OutboxEvent"("published", "createdAt");

-- CreateIndex
CREATE INDEX "OutboxEvent_tenantId_idx" ON "OutboxEvent"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "ProcessedEvent_eventId_key" ON "ProcessedEvent"("eventId");

-- CreateIndex
CREATE INDEX "ProcessedEvent_processedAt_idx" ON "ProcessedEvent"("processedAt");

-- AddForeignKey
ALTER TABLE "TenantSetting" ADD CONSTRAINT "TenantSetting_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TenantAdmin" ADD CONSTRAINT "TenantAdmin_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicYear" ADD CONSTRAINT "AcademicYear_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Class" ADD CONSTRAINT "Class_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Class" ADD CONSTRAINT "Class_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Section" ADD CONSTRAINT "Section_classTeacherId_fkey" FOREIGN KEY ("classTeacherId") REFERENCES "Teacher"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Section" ADD CONSTRAINT "Section_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Section" ADD CONSTRAINT "Section_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subject" ADD CONSTRAINT "Subject_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Teacher" ADD CONSTRAINT "Teacher_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Student" ADD CONSTRAINT "Student_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassTeacherAssignment" ADD CONSTRAINT "ClassTeacherAssignment_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassTeacherAssignment" ADD CONSTRAINT "ClassTeacherAssignment_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassTeacherAssignment" ADD CONSTRAINT "ClassTeacherAssignment_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "Section"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassTeacherAssignment" ADD CONSTRAINT "ClassTeacherAssignment_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES "Teacher"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentEnrollment" ADD CONSTRAINT "StudentEnrollment_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentEnrollment" ADD CONSTRAINT "StudentEnrollment_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentEnrollment" ADD CONSTRAINT "StudentEnrollment_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentEnrollment" ADD CONSTRAINT "StudentEnrollment_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "Section"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentEnrollment" ADD CONSTRAINT "StudentEnrollment_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Parent" ADD CONSTRAINT "Parent_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParentStudentMapping" ADD CONSTRAINT "ParentStudentMapping_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParentStudentMapping" ADD CONSTRAINT "ParentStudentMapping_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Parent"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParentStudentMapping" ADD CONSTRAINT "ParentStudentMapping_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Period" ADD CONSTRAINT "Period_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Period" ADD CONSTRAINT "Period_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Period" ADD CONSTRAINT "Period_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "Section"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Period" ADD CONSTRAINT "Period_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceSession" ADD CONSTRAINT "AttendanceSession_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceSession" ADD CONSTRAINT "AttendanceSession_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceSession" ADD CONSTRAINT "AttendanceSession_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "Section"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceSession" ADD CONSTRAINT "AttendanceSession_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceRecord" ADD CONSTRAINT "AttendanceRecord_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceRecord" ADD CONSTRAINT "AttendanceRecord_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "AttendanceSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceRecord" ADD CONSTRAINT "AttendanceRecord_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Exam" ADD CONSTRAINT "Exam_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Exam" ADD CONSTRAINT "Exam_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Exam" ADD CONSTRAINT "Exam_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamSubject" ADD CONSTRAINT "ExamSubject_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamSubject" ADD CONSTRAINT "ExamSubject_examId_fkey" FOREIGN KEY ("examId") REFERENCES "Exam"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamSubject" ADD CONSTRAINT "ExamSubject_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentMark" ADD CONSTRAINT "StudentMark_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentMark" ADD CONSTRAINT "StudentMark_examId_fkey" FOREIGN KEY ("examId") REFERENCES "Exam"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentMark" ADD CONSTRAINT "StudentMark_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentMark" ADD CONSTRAINT "StudentMark_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GradeScale" ADD CONSTRAINT "GradeScale_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentExamResult" ADD CONSTRAINT "StudentExamResult_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentExamResult" ADD CONSTRAINT "StudentExamResult_examId_fkey" FOREIGN KEY ("examId") REFERENCES "Exam"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentExamResult" ADD CONSTRAINT "StudentExamResult_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentExamAggregate" ADD CONSTRAINT "StudentExamAggregate_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentExamAggregate" ADD CONSTRAINT "StudentExamAggregate_examId_fkey" FOREIGN KEY ("examId") REFERENCES "Exam"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentExamAggregate" ADD CONSTRAINT "StudentExamAggregate_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassExamAggregate" ADD CONSTRAINT "ClassExamAggregate_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassExamAggregate" ADD CONSTRAINT "ClassExamAggregate_examId_fkey" FOREIGN KEY ("examId") REFERENCES "Exam"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassExamAggregate" ADD CONSTRAINT "ClassExamAggregate_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubjectExamAnalytics" ADD CONSTRAINT "SubjectExamAnalytics_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubjectExamAnalytics" ADD CONSTRAINT "SubjectExamAnalytics_examId_fkey" FOREIGN KEY ("examId") REFERENCES "Exam"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubjectExamAnalytics" ADD CONSTRAINT "SubjectExamAnalytics_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

